@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url('assets/backgrouond.jpg');
    background-size: cover;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(306deg,indigo, red, #007bff, teal);
    z-index: -1;
    background-size: 400% 400%;
    opacity: 0.5;
    animation: gradient 10s ease infinite;
}

@keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.logo a img{
    width: 50%;
}

.menu-items{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}

.menu-items a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.menu-items a:hover{
    color: #eea47f;
}

.center-text{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    padding-inline: 200px;
    margin-top: 60px;
}

.center-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.center-text h2{
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}

.center-text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    margin-bottom: 30px;
}

.center-text a{
    display: inline-block;
    color: #fff;
    background-color: #eea47f;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    text-align: center;
    text-shadow: 0px 2px 2px rgb(0, 0, 0 / 10%);
}